<section class="inline-flex flex-col sm:flex-row py-1 w-full">
    <h2 class="font-bold w-32">Work</h2>
    <div class="space-y-2 w-full">
        {{#each this}}
        <section class="flex-col">
            <div class="inline-flex w-full">
                <h3 class="flex-grow font-bold">{{this.name}}</h3>
                <time class="text-right">
                    {{#if this.startDate}}
                    <div class="inline-flex font-bold">{{getYear this.startDate}} - </div>
                    {{/if}}
                    <div class="inline-flex font-bold">
                        {{#if this.endDate}}
                        {{getYear this.endDate}}
                        {{else}}
                        Present
                        {{/if}}
                    </div>
                </time>
            </div>
            <div class="inline-flex w-full">
                <h3 class="flex-grow italic">{{this.position}}</h3>
                <a href={{this.url}} class="italic" target="_blank">{{linkText this.url}}</a>
            </div>
            {{#if this.highlights}}
            <dl>
                {{!-- <dt>Highlights</dt> --}}
                {{#each this.highlights}}
                <dd class="ml-6">&bull;&nbsp;{{this}}</dd>
                {{/each}}
            </dl>
            {{/if}}
            {{!-- <details>{{this.summary}}</details> --}}
        </section>
        {{/each}}
    </div>
</section>
<hr />