<section class="inline-flex flex-col sm:flex-row py-1 w-full">
    <h2 class="font-bold w-32 prose-xl">Work</h2>
    <div class="space-y-2 w-full">
        {{#each this}}
        <section class="flex-col">
            <div class="inline-flex w-full">
                <span class="flex-grow font-bold">{{this.name}}</span>
                <time class="text-right">
                    {{#if this.startDate}}
                    {{/if}}
                    <div class="inline-flex font-bold">
                        {{#if this.endDate}}
                        {{getYear this.endDate}}
                        {{else}}
                        Present
                        {{/if}}
                    </div>
                </time>
            </div>
            <div class="inline-flex w-full">
                <span class="flex-grow">{{this.position}}</span>
                <a href={{this.url}} class="underline text-pink-600" target="_blank">
                    {{linkText this.url}}
                </a>
            </div>
            {{#if this.highlights}}
            <dl>
                {{#each this.highlights}}
                <dd class="ml-6">&bull;&nbsp;{{this}}</dd>
                {{/each}}
            </dl>
            {{/if}}
        </section>
        {{/each}}
    </div>
</section>
<hr />